<div class="modal fade" id="modalWork" tabindex="-1" role="dialog" aria-labelledby="modalWorkLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <%= form_tag closeWorkHome_path, method: "post", multipart: true do|f|%>
      <div class="modal-header">
        <h5 class="modal-title" id="modalWorkLabel">Finalizar Tarea</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
          <div class="card" style="padding: 25px;">
          <div class="form-inputs">
            <input type="hidden" name="idWork" id="idWork" value=""/>
            <input type="hidden" name="origin" value="home_work"/>
            <br/>
            <div class="row">
              <div class="col-md-12">
                <h2 class="text-center">Resultado</h2>
                <%= text_area_tag :resultado,"",class: "form-control",required: true %>
              </div>
              <div class="col-md-12">
                <h3 class="text-center">Evidencia</h3>
                <%=file_field_tag :file,class: "form-control",required: true%>
              </div>
            </div>
            <br/>
          </div>
        </div>
        <br/>
          <div class="form-actions w-100 text-center">
            <%= submit_tag "Finalizar Tarea",class:"btn btn-primary"%>
          </div>
      </div>
    </div>
    <%end%>
  </div>
</div>

