<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card" style="padding: 25px;">
      <%= form_for @rol, url:{action:"update_rol"},id: @rol do |f| %>
      
        <div class="form-group">
          <%= f.text_field :nombre, autofocus: true, class: "form-control form-control-user",placeholder:"Nombre del Rol"%>
        </div>

        <div class="form-group">
          <%= f.text_field :descripcion, autofocus: true, class: "form-control form-control-user",placeholder:"Descripcion del Rol"%>
          
        </div>

        <div class="actions">
          <%= f.submit "Editar Rol", class: "btn btn-primary btn-block"%>
        </div>
      <% end %>
    
    </div>
  </div>
  <div class="col-md-2"></div>
</div>