<tr style="padding: 2px;">
	<td style="padding: 2px;">
		<%=f.select :vehiculo,Cvehiculo.where(activo:true).collect{|item| [item.titulo,item.titulo,{'data-tokens'=>item.titulo}] },{prompt:"Selecciona un Vehiculo"},{class: "form-control selectpicker", 'data-live-search': true, required: true} %>
	</td>
	<td style="padding: 2px;">
		<%= f.text_field :descripcion, class: "form-control", required: true%>
	</td>
	<td class="text-center">
		<%= f.input_field :_destroy, as: :hidden%>
		<%= link_to '#', class: "remove_record btn btn-danger  btn-circle" do%>
			<i class="fas fa-trash"></i>
		<%end%>
	</td>
</tr>
<script type="text/javascript">
	$(function () {
		$('select').selectpicker();
	});
</script>