// Place all the styles related to the proyectos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.inners{
	padding: 2px!important;
}
.no_margin{
	margin: 2px!important;
}